/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}


#header-container{
    background-image:url('../images/banner/banner1.png'); 
    background-repeat: no-repeat;
    background-position:center;
    background-size:100%;
    padding-bottom: 172px;
    height:397px ;
    
}
#header-body{
    margin: 0px;
    padding:83px 36px;

}

#header-title{
    font-size:54px;
    font-family: 'Poppins', sans-serif;
    padding-top: 35px;
}

.h-primary{
    text-align: right;
    margin-right: 100px;
    font-size: 11px;
}
#p-primary{
    text-align: right; 
    padding-top: 12px;
}

.btn {
    padding: 18px 18px;
    border: none;
    background-color: #ff5722;
    color: white;
    margin-top: 65px;
    font-size: 16px;
    border-radius: 5px;

}
#button{
    margin:-114px 140px;
    text-align:right;
}

/* Section Container */
#failure-container{
    padding:85px;
    display: flex;
}

.section-title{
padding-top: 15px;
padding-left:70px;
}
#section-heading{
    padding-top:208px;
    font-size: 32px;
}
#section-details{
    font-size: 14px;
    font-weight: 200;
}

.section-subtitle{
    margin-top: 19px;
    margin-left: 92px;
    font-size: 12px;
    
}
#section-control{
    margin-inline-end:-58px;
}
.section-subtitle-text{
    padding-top:7px;
}