/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}


#header-container{
    background-image:url('../images/banner/banner1.png'); 
    background-repeat: no-repeat;
    background-position:center;
    background-size:100%;
    padding-bottom: 362px;
    height: 100px;
    height:397px ;
    
}
#header-body{
    margin: 0px;
    padding:158px 36px;

}

#header-title{
    font-size:60px;
    font-family: 'Poppins', sans-serif;
    padding-top: 35px;
}

.h-primary{
    text-align: right;
    margin-right: 100px;
}
#p-primary{
    text-align: right; 
    padding-top: 27px;
}

.btn {
    padding: 18px 18px;
    border: none;
    background-color: #ff5722;
    color: white;
    margin-top: 20px;
    font-size: 23px;
    border-radius: 5px;

}
#button{
    margin:-125px 140px;
    text-align:right;
}

